<h2>CovoitEase changement de mot de passe</h2>

<p>
    Vous avez demandé à changer de mot de passe.
    <a href="http://localhost:5173/password-update/{{token}}">Cliquer ici</a>
    <br>
    <i>Ce lien est valide durant <b>1 heure.</b></i>
    <br>
    <h4>L'équipe CovoitEase.</h4>
</p>