.cardUser{
    display: flex;
    border: 1px solid #018383;
    box-shadow: 6px 4px 13px 0px rgba(0, 0, 0, 0.70);
    border-radius: 10px;
    width: 70vw;
    padding: 1rem 2rem;
}

.linkProfile{
    display: flex;
    justify-content: center;
    border-radius: 4px;
    width: 140px;
    min-height: 1.5rem;
    height: auto;
    border: 1px solid #018383;
    color: #018383;
}